@page "/sneakers/{Id}"
@inject HttpClient httpClient
@if (sneakers == null)
{
    <h1 class="text-center">Loading...</h1>
}
else
{
    <div class="container">
        <div class="col d-flex flex-column justify-content-center" style="align-items: center;">
            <img src="@sneakers.Image" class="img-fluid" style="max-width:50%;mix-blend-mode:darken;"/>
            <div class="d-flex flex-column">
                <h5>@sneakers.Brand</h5>
                <p>Model: @sneakers.Model</p>
                <p>Price: @sneakers.Price$</p>
                <p>Color: @sneakers.Color</p>
                <p>Description: @sneakers.Description</p>

            </div>
        </div>
    </div>
}


@code {
    [Parameter] public String Id { get; set; }
    Sneakers sneakers;

    protected override async Task OnInitializedAsync()
    {
        sneakers = await httpClient.GetFromJsonAsync<Sneakers>($"Sneakers/{Id}");
    }

}
